<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <context-param>
        <!--
			Conexion jdbcdriver ORACLE = 2 || INFORMIX = 3 || MSSQL = 4 || MYSQL
			= 5 || DB2 = 6 || PGSQL = 7
		-->
        <param-name>tipoJdbcDriver</param-name>
        <param-value>5</param-value>
    </context-param>
    <context-param>
        <description/>
        <param-name>userBD</param-name>
        <param-value>canek</param-value>
    </context-param>
    <context-param>
        <description/>
        <param-name>passwordBD</param-name>
        <param-value>CanekQuants</param-value>
    </context-param>
    <context-param>
        <description/>
        <param-name>TipoDriverBD</param-name>
        <param-value>thin</param-value>
    </context-param>
    <context-param>
        <description/>
        <param-name>NameBD</param-name>
        <param-value>gol</param-value>
    </context-param>
    <context-param>
        <description/>
        <param-name>PortBD</param-name>
        <param-value>3306</param-value>
    </context-param>
    <context-param>
        <description/>
        <param-name>ServerDB</param-name>
        <param-value>75.101.135.76</param-value>
    </context-param>
    <context-param>
        <description>Parametro Para conexion</description>
        <param-name>NombreServidorBD</param-name>
        <param-value>75.101.135.76</param-value>
    </context-param>
    <listener>
        <listener-class>com.urbi.listener.Listener</listener-class>
    </listener>
    <listener>
        <listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>PuraPrimaServlet</servlet-name>
        <servlet-class>servlets.PuraPrimaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrimaMantServlet</servlet-name>
        <servlet-class>servlets.PrimaMantServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarMetaServlet</servlet-name>
        <servlet-class>servlets.AgregarMetaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MetaClienteServlet</servlet-name>
        <servlet-class>servlets.MetaClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BehaivorServlet</servlet-name>
        <servlet-class>servlets.BehaivorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CalcularNivelMaximoEndeudamientoServlet</servlet-name>
        <servlet-class>servlets.CalcularNivelMaximoEndeudamientoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GolServlet</servlet-name>
        <servlet-class>servlets.GolServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarMetaServlet</servlet-name>
        <servlet-class>servlets.BuscarMetaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CalculaMetaServlet</servlet-name>
        <servlet-class>servlets.CalculaMetaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MasivoServlet</servlet-name>
        <servlet-class>servlets.MasivoServlet</servlet-class>
    </servlet>
    <servlet>
        <description/>
        <display-name>CewolfServlet</display-name>
        <servlet-name>CewolfServlet</servlet-name>
        <servlet-class>de.laures.cewolf.CewolfRenderer</servlet-class>
        <init-param>
            <description/>
            <param-name>storage</param-name>
            <param-value>
				de.laures.cewolf.storage.TransientSessionStorage
			</param-value>
        </init-param>
        <init-param>
            <description/>
            <param-name>overliburl</param-name>
            <param-value>/js/overlib.js</param-value>
        </init-param>
        <init-param>
            <description/>
            <param-name>debug</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <description>
		</description>
        <display-name>PrimaAjax</display-name>
        <servlet-name>PrimaAjax</servlet-name>
        <servlet-class>com.urbi.prima.PrimaAjax</servlet-class>
    </servlet>
    <servlet>
        <description>
		</description>
        <display-name>GolAjax</display-name>
        <servlet-name>GolAjax</servlet-name>
        <servlet-class>com.urbi.gol.GolAjax</servlet-class>
    </servlet>
    <servlet>
        <display-name>DWR Servlet</display-name>
        <servlet-name>dwr-invoker</servlet-name>
        <servlet-class>org.directwebremoting.servlet.DwrServlet</servlet-class>
        <init-param>
            <param-name>debug</param-name>
            <param-value>true</param-value>
        </init-param>
    </servlet>
    <servlet>
        <description>
    	</description>
        <display-name>UsuariosAction</display-name>
        <servlet-name>UsuariosAction</servlet-name>
        <servlet-class>servlets.UsuariosAction</servlet-class>
    </servlet>
    <servlet>
        <description>
    	</description>
        <display-name>Login</display-name>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportadorServlet</servlet-name>
        <servlet-class>servlets.ReportadorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CodPosServlet</servlet-name>
        <servlet-class>servlets.CodPosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ComboServicio</servlet-name>
        <servlet-class>servlets.ComboServicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CalculadoraNEWS</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>CalculadoraCGWS</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>CalculadoraCMWS</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>CalculadoraPPWS</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>GolWs</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>CalculadoraBWS</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>CewolfServlet</servlet-name>
        <url-pattern>/cewolf/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PuraPrimaServlet</servlet-name>
        <url-pattern>/PuraPrimaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrimaMantServlet</servlet-name>
        <url-pattern>/PrimaMantServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarMetaServlet</servlet-name>
        <url-pattern>/AgregarMetaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MetaClienteServlet</servlet-name>
        <url-pattern>/MetaClienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MasivoServlet</servlet-name>
        <url-pattern>/MasivoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BehaivorServlet</servlet-name>
        <url-pattern>/BehaivorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CalcularNivelMaximoEndeudamientoServlet</servlet-name>
        <url-pattern>/CalcularNivelMaximoEndeudamientoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GolServlet</servlet-name>
        <url-pattern>/GolServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrimaAjax</servlet-name>
        <url-pattern>/PrimaAjax</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GolAjax</servlet-name>
        <url-pattern>/GolAjax</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarMetaServlet</servlet-name>
        <url-pattern>/BuscarMetaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CalculaMetaServlet</servlet-name>
        <url-pattern>/CalculaMetaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dwr-invoker</servlet-name>
        <url-pattern>/dwr/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuariosAction</servlet-name>
        <url-pattern>/UsuariosAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <jsp-config>
        <taglib>
            <taglib-uri>cewolf</taglib-uri>
            <taglib-location>/WEB-INF/cewolf.tld</taglib-location>
        </taglib>
    </jsp-config>
    <servlet-mapping>
        <servlet-name>ReportadorServlet</servlet-name>
        <url-pattern>/ReportadorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CodPosServlet</servlet-name>
        <url-pattern>/CodPosServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ComboServicio</servlet-name>
        <url-pattern>/ComboServicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CalculadoraNEWS</servlet-name>
        <url-pattern>/CalculadoraNEWS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CalculadoraCGWS</servlet-name>
        <url-pattern>/CalculadoraCGWS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CalculadoraCMWS</servlet-name>
        <url-pattern>/CalculadoraCMWS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CalculadoraPPWS</servlet-name>
        <url-pattern>/CalculadoraPPWS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GolWs</servlet-name>
        <url-pattern>/GolWs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CalculadoraBWS</servlet-name>
        <url-pattern>/CalculadoraBWS</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
