<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.show_sql">false</property>
    <property name="connection.useUnicode">true</property>
    <property name="connection.characterEncoding">UTF-8</property>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/meta</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">root</property>
    <property name="hibernate.connection.autocommit">true</property>
    <property name="current_session_context_class">thread</property>
    <property name="hibernate.transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
    <property name="hibernate.connection.statement_cache.size">10</property>
    <property name="hibernate.cglib.use_reflection_optimizer">true</property>
    <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
    <property name="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
    <property name="hibernate.c3p0.acquire_increment">1</property>
    <property name="hibernate.c3p0.idle_test_period">1000</property>
    <property name="hibernate.c3p0.max_size">100</property>
    <property name="hibernate.c3p0.max_statements">100</property>
    <property name="hibernate.c3p0.min_size">0</property>
    <property name="hibernate.c3p0.timeout">10000</property>
    <mapping resource="objetos/OpnUce.hbm.xml"/>
    <mapping resource="objetos/ActUlt.hbm.xml"/>
    <mapping resource="objetos/OpnRedPu.hbm.xml"/>
    <mapping resource="objetos/AsoPar.hbm.xml"/>
    <mapping resource="objetos/RelFam.hbm.xml"/>
    <mapping resource="objetos/GtoRen.hbm.xml"/>
    <mapping resource="objetos/Rld.hbm.xml"/>
    <mapping resource="objetos/TarCre.hbm.xml"/>
    <mapping resource="objetos/NivEstMam.hbm.xml"/>
    <mapping resource="objetos/Gpo.hbm.xml"/>
    <mapping resource="objetos/DinExt.hbm.xml"/>
    <mapping resource="objetos/NivEst.hbm.xml"/>
    <mapping resource="objetos/OpnFpFv.hbm.xml"/>
    <mapping resource="objetos/ApyEco.hbm.xml"/>
    <mapping resource="objetos/BurPag.hbm.xml"/>
    <mapping resource="objetos/NivEstPap.hbm.xml"/>
    <mapping resource="objetos/SegGto.hbm.xml"/>
    <mapping resource="objetos/CreOtr.hbm.xml"/>
    <mapping resource="objetos/FreRel.hbm.xml"/>
    <mapping resource="objetos/TipCre.hbm.xml"/>
    <mapping resource="objetos/DepEco.hbm.xml"/>
    <mapping resource="objetos/CliPpr.hbm.xml"/>
    <mapping resource="objetos/RngAntEmp.hbm.xml"/>
    <mapping resource="objetos/GtoPer.hbm.xml"/>
    <mapping resource="objetos/OpnAbf.hbm.xml"/>
    <mapping resource="objetos/CatPsi.hbm.xml"/>
    <mapping resource="objetos/NumCre.hbm.xml"/>
    <mapping resource="objetos/Ptm.hbm.xml"/>
    <mapping resource="objetos/ApoOtr.hbm.xml"/>
    <mapping resource="objetos/CueAbr.hbm.xml"/>
    <mapping resource="objetos/BurHis.hbm.xml"/>
    <mapping resource="objetos/Mov.hbm.xml"/>
    <mapping resource="objetos/BanPorUso.hbm.xml"/>
    <mapping resource="objetos/Rel.hbm.xml"/>
    <mapping resource="objetos/ActExt.hbm.xml"/>
    <mapping resource="objetos/OpnBar.hbm.xml"/>
    <mapping resource="objetos/CliMta.hbm.xml"/>
    <mapping resource="objetos/CliMta2.hbm.xml"/>
    <mapping resource="objetos/ConRed.hbm.xml"/>
    <mapping resource="objetos/Srv.hbm.xml"/>
    <mapping resource="objetos/GtoSerViv.hbm.xml"/>
    <mapping resource="objetos/Cli.hbm.xml"/>
    <mapping resource="objetos/Sex.hbm.xml"/>
    <mapping resource="objetos/ParPlt.hbm.xml"/>
    <mapping resource="objetos/ConAbf.hbm.xml"/>
    <mapping resource="objetos/Usu.hbm.xml"/>
    <mapping resource="objetos/Ing.hbm.xml"/>
    <mapping resource="objetos/BhrAct.hbm.xml"/>
    <mapping resource="objetos/SitAct.hbm.xml"/>
    <mapping resource="objetos/MejPar.hbm.xml"/>
    <mapping resource="objetos/GtoVes.hbm.xml"/>
    <mapping resource="objetos/CliBur.hbm.xml"/>
    <mapping resource="objetos/Est.hbm.xml"/>
    <mapping resource="objetos/VivAct.hbm.xml"/>
    <mapping resource="objetos/ApoHij.hbm.xml"/>
    <mapping resource="objetos/BhrIngViv.hbm.xml"/>
    <mapping resource="objetos/GtoSab.hbm.xml"/>
    <mapping resource="objetos/GtoLim.hbm.xml"/>
    <mapping resource="objetos/CliBhr.hbm.xml"/>
    <mapping resource="objetos/ConBar.hbm.xml"/>
    <mapping resource="objetos/SitPrxAn.hbm.xml"/>
    <mapping resource="objetos/GtoEdu.hbm.xml"/>
    <mapping resource="objetos/CodPos.hbm.xml"/>
    <mapping resource="objetos/TipRes.hbm.xml"/>
    <mapping resource="objetos/BanCmp.hbm.xml"/>
    <mapping resource="objetos/ApoCon.hbm.xml"/>
    <mapping resource="objetos/ProAnoGto.hbm.xml"/>
    <mapping resource="objetos/Pbm.hbm.xml"/>
    <mapping resource="objetos/RngResAnt.hbm.xml"/>
    <mapping resource="objetos/SegVda.hbm.xml"/>
    <mapping resource="objetos/RelAfe.hbm.xml"/>
    <mapping resource="objetos/BhrCtaPurRie.hbm.xml"/>
    <mapping resource="objetos/Rol.hbm.xml"/>
    <mapping resource="objetos/BanPorPag.hbm.xml"/>
    <mapping resource="objetos/Ocp.hbm.xml"/>
    <mapping resource="objetos/BurUso.hbm.xml"/>
    <mapping resource="objetos/SrvInd.hbm.xml"/>
    <mapping resource="objetos/Des.hbm.xml"/>
    <mapping resource="objetos/FreDin.hbm.xml"/>
    <mapping resource="objetos/GtoDiv.hbm.xml"/>
    <mapping resource="objetos/ParAso.hbm.xml"/>
    <mapping resource="objetos/BurAbt.hbm.xml"/>
    <mapping resource="objetos/OpnMap.hbm.xml"/>
    <mapping resource="objetos/BurAct.hbm.xml"/>
    <mapping resource="objetos/RngResAct.hbm.xml"/>
    <mapping resource="objetos/FtrPpr.hbm.xml"/>
    <mapping resource="objetos/GtoAlm.hbm.xml"/>
    <mapping resource="objetos/BhrMenIng.hbm.xml"/>
    <mapping resource="objetos/PagCliBhr.hbm.xml"/>
    <mapping resource="objetos/CliGol.hbm.xml"/>
    <mapping resource="objetos/SolCre.hbm.xml"/>
    <mapping resource="objetos/GtoOtr.hbm.xml"/>
    <mapping resource="objetos/VcsViv.hbm.xml"/>
    <mapping resource="objetos/GtoDeu.hbm.xml"/>
    <mapping resource="objetos/GtoTrn.hbm.xml"/>
    <mapping resource="objetos/CreHip.hbm.xml"/>
    <mapping resource="objetos/BhrPagPtlCnt.hbm.xml"/>
    <mapping resource="objetos/StaMta.hbm.xml"/>
    <mapping resource="objetos/OpnPrt.hbm.xml"/>
    <mapping resource="objetos/TarDeb.hbm.xml"/>
    <mapping resource="objetos/CliPso.hbm.xml"/>
    <mapping resource="objetos/RngAntOcp.hbm.xml"/>
    <mapping resource="objetos/GtoSld.hbm.xml"/>
    <mapping resource="objetos/ConAma.hbm.xml"/>
    <mapping resource="objetos/EdoCvl.hbm.xml"/>
    <mapping resource="objetos/ConFpf.hbm.xml"/>
    <mapping resource="objetos/Eda.hbm.xml"/>
    <mapping resource="objetos/PagRnt.hbm.xml"/>
    <mapping resource="objetos/Edo.hbm.xml"/>
    <mapping resource="objetos/IPsi.hbm.xml"/>
    <mapping resource="objetos/IRnt.hbm.xml"/>
    <mapping resource="objetos/TipEmp.hbm.xml"/>
    <mapping resource="objetos/ConUce.hbm.xml"/>
    <mapping resource="objetos/GtoImp.hbm.xml"/>
    <mapping resource="objetos/RngEda.hbm.xml"/>
    <mapping resource="objetos/BhrEfi.hbm.xml"/>
    <mapping resource="objetos/ApoPad.hbm.xml"/>
    <mapping resource="objetos/IntPi.hbm.xml"/>
    <mapping resource="objetos/GtoCre.hbm.xml"/>
    <mapping resource="objetos/Cal.hbm.xml"/>
    <mapping resource="objetos/BurAnt.hbm.xml"/>
    <mapping resource="objetos/GtoSot.hbm.xml"/>
    <mapping resource="objetos/RelPsiSoc.hbm.xml"/>
    <mapping resource="objetos/OpnBzn.hbm.xml"/>
    <mapping resource="objetos/Mig.hbm.xml"/>
    <mapping resource="objetos/VlrViv.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
